apiVersion: apps/v1
kind: Deployment
metadata:
  name: angular-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: angular-app
  template:
    metadata:
      labels:
        app: angular-app
    spec:
      containers:
      - name: angular-app
        image: racedevopsacr.azurecr.io/racedevops:race
        ports:
        - containerPort: 80
        resources:
          requests:
            cpu: "200m"
            memory: "228Mi"
          limits:
            cpu: "500m"
            memory: "512Mi"
---
apiVersion: v1
kind: Service
metadata:
  name: angular-service
spec:
  type: LoadBalancer
  selector:
    app: angular-app
  ports:
    - port: 80
      targetPort: 80
