<div class="app-layout">
  <aside class="sidebar">
    <h2 class="logo">RACE DevOps Pro</h2>
    <nav>
      <a routerLink="/" routerLinkActive="active">Dashboard</a>
	  <a routerLink="/" routerLinkActive="active">Services</a>
      <a routerLink="/about" routerLinkActive="active">About</a>
	  <a routerLink="/" routerLinkActive="active">Setting</a>
	  <a routerLink="/" routerLinkActive="active">Application</a>
    </nav>
  </aside>

  <div class="main">
    <header class="header">
      <span>REVA University Dashboard</span>
    </header>
	
	
	
    <main class="content">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
